.mainpage{
    display: flex;
    flex-direction: column;
    align-items: center;

    ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        li{
            width: 24%;
            padding: 1rem 3rem;
            height: 100%;
        }
    }
}