.footer {
  display: block;
  height: 20rem;
  background-color: gray;

  div {
    display: flex;
    justify-content: space-around;
    ul {
      width: 23%;
      list-style: none;
    }

    p {
      width: 44%;
    }
  }
}
