.App{
    display: flex;
    justify-content: flex-end;
}
.sign-in-button {
  border: 1px solid #0f7c90;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  padding: 0 12px;
  margin-left: 10px;
  border-radius: 7%;
}
.sign-in-button span {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.4rem;
}
