.footer {
  display: block;

  div {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(128, 128, 128, 0.753);
    padding: 2rem 0;
    color: rgba(0, 119, 145, 1);
    text-align: center;

    h2 {
      color: rgba(0, 119, 145, 1);
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    ul {
      width: 27%;
      list-style: none;
      font-size: 1.5rem;
      line-height: 2rem;
      li {
        margin-bottom: 0.5rem;
      }

      a {
        font-size: 1.5rem;
        padding-left: 1rem;

        &:hover {
          cursor: pointer;
        }
      }
    }

    p {
      width: 36%;
      font-size: 1.3rem;
    }
  }
}

