@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import "./variable.css";

html {
  font-size: 10px;
  font-family: "Ubuntu", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  display: relative;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  background-color: var(--white);
  color: var(--text);
}
.main-wrapper {
  padding: 8rem 0 0 0;
  min-height: 86.6vh !important;
}
button{
  &:hover{
    cursor: pointer;
  }
}
a {
  color: var(--a);

  &:hover {
    color: var(--a-hover);
    cursor: pointer;
  }
}
